@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{    
    margin: 0px;
    padding: 0px;
    background-color: #FFF4E9;
    font-family: 'Inria Serif';
}

.Redes{
    margin: 30px 0px;
}
.central{
    display: flex;
    justify-content: center;
}
.Quadrado{
    background-color: #761414;
    width: 45%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.Feedback{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.FeedbackT{
    font-size: 28px;
    margin: auto;
}
.ConteudoMapa{
    display: flex;
    justify-content: center;
    margin-top: 52px;
}
.Mapa{
    width: 30%;
    height: 400px;
}
.Inputs{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.TextoP{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 0px 20px;
}
h1{
    font-size: 42px;
    color: white;
}
.txtmapa{
    font-size: 30px;
}
label{
    width: 10%;
    font-size: 32px;
}
input{
    width: 30%;
}
.Separar{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}
.IconesRedes{

    display: flex;
    justify-content: center;
}
h4{
    width: 35%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 42px;
    margin: 30px 0px 30px 0px;
}
.txtredes{
    display: flex;
    justify-content: center;
}
.IconesR{
    width: 100%;
}
.if{
    width: 64px;
    height: 64px;
    margin: 0px 20px;
}
button{
    width: 6%;
    height: 30px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    background-color: #761414;
    color: white;
    border: 2px solid #e4b363;
    border-radius: 30px;
}
@media(max-width: 580px){
    .TextoP{
        width: 100%;
        margin: 30px 0px;

    }
    .ConteudoMapa{
        flex-direction: column;
    }
    .Mapa{
        width: 75%;
        height: 280px;
        margin: auto;
    }
    .txtmapa{
        width: 75%;
        height: 100%;
        margin: auto;
        font-size: 21px;
        text-align: center;
    }
    h1{
        font-size: 28px;
        text-align: center;
    }
    .Quadrado{
        margin-top: 40px;
    }
    .FeedbackT{
        width: 75%;
        font-size: 24px;
        margin: auto;
    }
    .Inputs{
        flex-direction: column;
    }
    label{
        width: 60%;
        margin: auto;
        text-align: center;
        font-size: 36px;
    }
    input{
        width: 60%;
        margin: 5px 80.797px;
        height: 35px;
        padding: 0px;
        border: 2px solid black;
    }
    button{
        margin: 30px 155.250px;
        width: 25%;
    }
}
footer {
    background-image: url(ImagensIndex2/image\ 28.png );
    background-color: #3333339f;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}
.footer-content {
    margin-bottom: 2rem;
}
.redes-sociais a {
    color: #e4b363;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s;
}
.redes-sociais a:hover {
    color: #fff;
}
.info-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: left;
}
.info-footer div h3 {
    margin-bottom: 0.5rem;
    color: #e4b363;
}