body{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.central{
    display: flex;
    justify-content: center;
}
.Pratos{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.ConteudoPratos{
    width: 100%;
    display: flex;
}
.ImagensP{
    width: 50%;
    height: 400px;
}
.TextoP{
    width: 50%;
    height: 400px;
}
.TituloP{
    font-size: 48px;
    font-weight: 600;
}
.SubTituloP{
    font-size: 32px;
    font-weight: 400;
}
.QuadradoTituloEventos{
    background-color: #761414;
    width: 45%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
    border-radius: 30px;
}
.TituloEventos{
    margin: 10px 20px;
}
.BlocoEventos{
    width: 85%;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
}
.ConteudoEventos{
    width: 30%;
    height: 450px;
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ImgEventos{
    width: 100%;
    height: 80%;
    border-radius: 30px;
}
.Direcionador{
    display: flex;
}
@media(max-width: 580px){
    .ImagemLogo{
        width: 100%;
    }
    .ConteudoPratos{
        flex-direction: column;
        margin-top: 100px;
    }
    .ImagensP{
        width: 75%;
        margin: auto;
    }
    .TextoP{
        width: 75%;
        margin: auto;
        height: 100%;
    }
    .TituloP{
        margin: 30px 0px 0px 0px;
        font-size: 36px;

    }
    .SubTituloP{
        margin: 0px;
        font-size: 28px ;
    }
    .QuadradoTituloEventos{
        width: 65%;
        display: flex;
        justify-content: center;
        text-align: center; 
        color: white;
    }
    .BlocoEventos{
        margin-top: 50px;
    }
    .Direcionador{
        flex-direction: column;
    }
    .ConteudoEventos{
        width: 75%;
        margin: 20px 43.984px;
    }
}
footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 1rem;
    text-align: center;
}
.footer-content {
    margin-bottom: 2rem;
}
.redes-sociais a {
    color: #e4b363;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    transition: color 0.3s;
}
.redes-sociais a:hover {
    color: #fff;
}
.info-footer {
    display: flex;
    justify-content: center;
    gap: 2rem;
    text-align: left;
}
.info-footer div h3 {
    margin-bottom: 0.5rem;
    color: #e4b363;
}
